In [1]:
strOne = str("pynative")
strTwo = "pynative"
print(strOne == strTwo)
print(strOne is strTwo)

True
True

In [4]:
"welcome to the beautiful world of python".title()

'Welcome To The Beautiful World Of Python'

In [5]:
str1 = 'Welcome'
print(str1*2)

WelcomeWelcome

In [6]:
str1 = "my isname isisis jameis isis bond";
sub = "is";
print(str1.count(sub, 4))

6

In [7]:
myString = "pynative"
stringList = ["abc", "pynative", "xyz"]

print(stringList[1] == myString)
print(stringList[1] is myString)

True
True

In [8]:
ascii('char')

"'char'"

In [12]:
ord('a')

97

In [13]:
a = 'a'

In [14]:
type(a)

str

In [17]:
ascii('a')

"'a'"

In [18]:
str1 = "My salary is 7000";
str2 = "7000"

print(str1.isdigit())
print(str2.isdigit())

False
True

In [19]:
print("John" > "Jhon")
print("Emma" < "Emm")

True
False

In [20]:
str1 = 'Welcome'
print (str1[:6] + ' PYnative')

Welcom PYnative

In [28]:
str_dsd = "Mysalaryis7000";
print(str_dsd.isalnum())

True

In [30]:
from datetime import datetime, date, time
dt = datetime(2019, 10, 29)

In [31]:
dt

datetime.datetime(2019, 10, 29, 0, 0)

In [32]:
dt.day

29

In [33]:
dt.month

10

In [34]:
tup = (1,2,3,4,5)

In [35]:
tup

(1, 2, 3, 4, 5)

In [39]:
tuple([1,2,3]) + (1,200)

(1, 2, 3, 1, 200)

In [24]:
str = str

In [25]:
str

'My salary is 7000'

In [42]:
[1,2,3,4,5,2].pop(2)

3

In [49]:
lis = [1,2,3,4,5,2]

In [50]:
lis.removeall(2)

AttributeError: 'list' object has no attribute 'removeall'

In [48]:
lis

[1, 3, 4, 5, 2]

In [52]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [10]:
char('char')

NameError: name 'char' is not defined

In [58]:
sam_lis = [5,4,3,2,1]
def sortDiff(x):
    if x % 2 == 0:
        return 1
    else:
        return -1

sam_lis.sort(key = sortDiff)

In [59]:
sam_lis

[5, 3, 1, 4, 2]

In [61]:
import bisect

In [63]:
dir(bisect)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'bisect',
 'bisect_left',
 'bisect_right',
 'insort',
 'insort_left',
 'insort_right']

In [65]:
sorted_lis = [1,2,3,4,5,6,7,78,]

In [67]:
sorted_lis

[1, 2, 3, 4, 5, 6, 7, 78]

In [68]:
bisect.insort(sorted_lis, 14)

In [70]:
sorted_lis

[1, 2, 3, 4, 5, 6, 7, 14, 78]

In [77]:
sorted_lis[-5:-2]

[5, 6, 7]

In [78]:
sorted_lis[::3]

[1, 4, 7]

In [80]:
for i in enumerate(sorted_lis):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)
(6, 7)
(7, 14)
(8, 78)

In [81]:
# enumerate, sorted, zip, reversed  is generator used for the index and value in a sequence or iterator

In [85]:
sam_dict = {'name': "Snajy"}
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [86]:
sam_dict.get('name', "Sam")

'Snajy'

In [92]:
lis_one = [1,2,3,4]

In [93]:
lis_two = [7,8,9,10,11,12]

In [95]:
seq3 = list(zip(lis_one, lis_two))

In [96]:
a, b = zip(*seq3)

In [97]:
a, b

((1, 2, 3, 4), (7, 8, 9, 10))

In [99]:
list(reversed(lis_one))

[4, 3, 2, 1]

In [100]:
sam_dic = {'name': 'Sanjay'}

In [102]:
sam_dic['name']

'Sanjay'

In [103]:
sam_dic['skills'] = ['Python', 'Java', 'JS']

In [104]:
sam_dic

{'name': 'Sanjay', 'skills': ['Python', 'Java', 'JS']}

In [110]:
for i in sam_dic.values():
    print(i)

Sanjay
['Python', 'Java', 'JS']

In [111]:
del sam_dic['skills']

In [112]:
sam_dic

{'name': 'Sanjay'}

In [114]:
del sam_dic['name']

In [115]:
sam_dic

{}

In [116]:
sam_dic

{}

In [118]:
sam_dic.update({ 'name': 'Saravanan' })

In [119]:
sam_dic

{'name': 'Saravanan'}

In [120]:
mapping = dict(zip([1,2,3,4,5], ['Sam', 'Sammy', 'Sam', 'Sarava', 'Meena']))

In [122]:
mapping.pop(1)

'Sam'

In [123]:
mapping

{2: 'Sammy', 3: 'Sam', 4: 'Sarava', 5: 'Meena'}

In [1]:
terms = ['alpha', 'beta', 'gamma', 'alpha2', 'beta2', 'gamma2']

In [2]:
mappings = {}
for word in terms:
    mappings.setdefault(word[0], []).append(word)
mappings

{'a': ['alpha', 'alpha2'], 'b': ['beta', 'beta2'], 'g': ['gamma', 'gamma2']}

In [5]:
from collections import defaultdict

mapping_two = defaultdict(list)

mapping_two['d']

[]

In [6]:
{1: 'Sanjay', [3]: 'sdfas'}

TypeError: unhashable type: 'list'

In [10]:
{1: 'Sanjay', (3): 'sdfas'}

{1: 'Sanjay', 3: 'sdfas'}

In [11]:
{1: 'Sanjay', (3, 18): 'sdfas'}

{1: 'Sanjay', (3, 18): 'sdfas'}

In [12]:
{1: 'Sanjay', ([3]):'sdfas'}

TypeError: unhashable type: 'list'

In [15]:
hash('a')

4738366503674657651

In [16]:
hash((1))

1

In [17]:
hash((1,2))

-3550055125485641917

In [18]:
hash([1])

TypeError: unhashable type: 'list'

In [19]:
hash((1, [1,2,3]))

TypeError: unhashable type: 'list'

In [20]:
# Set unordered collection of unique elements

In [21]:
set1 = {1,2,3}

In [22]:
set1

{1, 2, 3}

In [27]:
set2 = {2,2,3,4,5,56,5,4,5,4}

In [24]:
set3 = set([1,2,3,4,5,1,2,3,4,5,6])

In [25]:
set3

{1, 2, 3, 4, 5, 6}

In [29]:
set1.union(set2) # adding two set were all the unique elements will be integrated

{1, 2, 3, 4, 5, 56}

In [30]:
set1 | set2

{1, 2, 3, 4, 5, 56}

In [31]:
set1 | set2 | set3

{1, 2, 3, 4, 5, 6, 56}

In [32]:
set1.intersection(set2)

{2, 3}

In [33]:
set1 & set2

{2, 3}

In [34]:
set1 & set2 & set3

{2, 3}

In [35]:
set1.update(set2)

In [36]:
set1

{1, 2, 3, 4, 5, 56}

In [37]:
set2

{2, 3, 4, 5, 56}

In [38]:
set2 |= {11, 12, 13}

In [39]:
set2

{2, 3, 4, 5, 11, 12, 13, 56}

In [ ]:
set2.remove(5) # removing elements from set

In [41]:
set2

{2, 3, 4, 11, 12, 13, 56}

In [43]:
set2.add(99)

In [44]:
set2

{2, 3, 4, 11, 12, 13, 56, 99}

In [45]:
set2.pop()

2

In [46]:
set2

{3, 4, 11, 12, 13, 56, 99}

In [47]:
set2.pop()

3

In [48]:
set2

{4, 11, 12, 13, 56, 99}

In [49]:
set2.clear()

In [50]:
set2

set()

In [51]:
set2.pop()

KeyError: 'pop from an empty set'

In [52]:
set1.issubset(set3)

False

#

In [53]:
set1

{1, 2, 3, 4, 5, 56}

In [54]:
set3

{1, 2, 3, 4, 5, 6}

In [55]:
set1.add(6)

In [56]:
set1

{1, 2, 3, 4, 5, 6, 56}

In [58]:
set3.issubset(set1)

True

In [59]:
set1.issuperset(set3)

True

In [60]:
set1.isdisjoint(set3)

False

In [61]:
set1.isdisjoint({88,66,77})

True

In [62]:
{1,2,3} == {3,2,1}

True

In [63]:
{1,2,3} == {1234,5}

False

In [67]:
{1,2,3} == {(1,2), 3}

False

In [65]:
{1,2,3} == {(1), 2, 3}

True

In [68]:
{1,2,3,4, [1,2,3,4]}

TypeError: unhashable type: 'list'

In [69]:
{1,2,3, (4,5,6)}

{(4, 5, 6), 1, 2, 3}

In [70]:
{1,2,3, (4,5,[1])}

TypeError: unhashable type: 'list'

In [71]:
# Sequence Comphrehensions

In [72]:
[x*x for x in range(1, 10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [74]:
[x if x%2 == 0 else None  for x in range(1, 10)]

[None, 2, None, 4, None, 6, None, 8, None]

In [75]:
[x for x in range(1, 10) if x%2 == 0]

[2, 4, 6, 8]

In [76]:
# Dict Comphrehensions
{v : i for i, v in enumerate(['Sanjay', 'Saravanan'])}

{'Sanjay': 0, 'Saravanan': 1}

In [77]:
{len(x) for x in ['Sanjay', 'Saravanan']}

{6, 9}

In [78]:
seq5 = [['om', 'namah', 'shivay'], ['shiv', 'shambhoo']]
[x for l in seq5 for x in l if x.count('a') >= 2]

['namah']

In [80]:
seq6 = [(1,2,3), (4,5,6), (7,8,9)]
[x for t in seq6 for x in t]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
[[x for x in t] for t in seq6]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [83]:
sam_lis = [1,2,3,4]

In [84]:
sam_lis.pop()

4

In [85]:
sam_lis.pop(1)

2

In [86]:
# Data Cleaning is a process of stripping whitespace, removing punctuation, on proper capitalization

In [91]:
messy_strings = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south carolina##', 'Western !@!#$!@#$']

In [94]:
import re
def clean_strings(strings):
    result = []
    for x in strings:
        x = x.strip()
        x = re.sub('[!@#$#?]', '', x)
        x = x.title()
        result.append(x)
    return result

In [95]:
clean_strings(messy_strings)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'Western ']

In [89]:
sam_str = 'Sanjay'
re.sub('jay', 'jai', sam_str)

'Sanjai'

In [98]:
# Second Approach
# Applying a list of the operations on a list of strings
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

# List of functions based operations to be applied: Both user-defined and built-in
clean_ops = [str.strip, remove_punctuation, str.title]

def clean_string_two(strings, ops):
    result = []
    for x in strings:
        for f in ops:
            x = f(x)
        result.append(x)
    return result

In [99]:
messy_strings = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south carolina##', 'Western !@!#$!@#$']

In [101]:
clean_string_two(messy_strings, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'Western @$@$']

In [102]:
for x in map(remove_punctuation, messy_strings):
    print(x)

 Alabama
Georgia
Georgia
georgia
FlOrIda
south carolina
Western @$@$

In [111]:
def short_func(x):
    return x + 10

print(short_func(5))

x = lambda a : a + 10
print(x(5))

15
15

In [106]:
x = lambda a : [i for i in range(a)]

In [107]:
x(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [113]:
# Example:
def apply_short_f(alist, short_f):
    return [short_f(x) for x in alist]

apply_short_f([1,2,3], short_func)

[11, 12, 13]

In [114]:
apply_short_f([1,2,3], lambda x: x + 10)

[11, 12, 13]

In [118]:
seq7 = [1,2,3,4,5,6,7]

seq7.sort(key = lambda x: x % 2)

In [119]:
seq7

[2, 4, 6, 1, 3, 5, 7]

In [ ]:
# currying: defining a new function that calls an existing function with fewer arguments

In [139]:
def add_nums(y, z):
    return z + y

add_5 = lambda x: add_nums(5, x)

# Using partial function from the built-in functools module
from functools import partial 

new_add_5 = partial(add_nums, 5)

In [124]:
add_nums(5, 10)

15

In [123]:
add_5(10)

15

In [140]:
new_add_5(100)

105

In [137]:
# Partial takes a func as the first arguement and arguments as the rest args and executes the 
# function when called with those values passed as the rest all arguements

In [141]:
# Generators: functions to construct iterable objects (iterators)
# An iterator is any object that will yield objects to the Python interpreter
# when used in a context like a for loop

In [142]:
# Python when encountered a start

In [143]:
d4 = {'a': 1, 'b': 2, 'c': 3}
for i in d4:
    print(i)

a
b
c

In [144]:
for k, v in enumerate(d4):
    print(k, v)

0 a
1 b
2 c

In [153]:
it = iter(d4)
it

In [155]:
for k in it:
    print(k)

b
c

In [156]:
# Generators return a sequence of multiple elements in an orderly fashion as and when requested

In [157]:
# generators uses yield keyword instead of return

In [158]:
def squares(n = 10):
    print('Generating a squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n+1):
        yield i ** 2

In [171]:
gen1 = squares()

In [167]:
for i in gen1:
    print(i)

Generating a squares from 1 to 100
1
4
9
16
25
36
49
64
81
100

In [168]:
i

100

In [169]:
type(gen1)

generator

In [172]:
list(gen1)

Generating a squares from 1 to 100

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [173]:
list(gen1)

[]

In [174]:
g2 = (x * x for x in range(1, 10))
g2

In [175]:
list(g2)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [176]:
sum(x + 10 for x in range(10))

145

In [178]:
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [182]:
dict([('name', 'Sanjay')])

{'name': 'Sanjay'}

In [181]:
(i, i ** 2) for i in range(5)

SyntaxError: invalid syntax (4018399634.py, line 1)

In [184]:
# Other ways to create generators 
# standard library 'itertoole' module has a collection of generators 
# Example: itertools groupby for grouping strings

In [185]:
import itertools

terms1 = ['Ram', 'Ramsevak', 'Shiv', 'Shivcharan', 'Krishn', 'Krishnalal']

first_letter = lambda x: x[0]

for letter, terms1 in itertools.groupby(terms1, first_letter):
    print(letter, list(terms1))

R ['Ram', 'Ramsevak']
S ['Shiv', 'Shivcharan']
K ['Krishn', 'Krishnalal']

In [186]:
itertools.groupby(terms1, first_letter)

In [188]:
terms1 = ['Ram', 'Ramsevak', 'Shiv', 'Shivcharan', 'Krishn', 'Krishnalal']

first_letter = lambda x: x[0]
list(itertools.groupby(terms1, first_letter))

[('R', <itertools._grouper at 0x2aec1f5b250>),
 ('S', <itertools._grouper at 0x2aec1f5b340>),
 ('K', <itertools._grouper at 0x2aec1f58dc0>)]